rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function isAdmin() {
      return request.auth != null && request.auth.token.admin == true;
    }

    match /{document=**} {
      allow read, write: if false;
    }

    match /produtos/{produtoId} {
      allow read: if true;
      allow write: if isAdmin();
    }
    match /slides/{slideId} {
      allow read: if true;
      allow write: if isAdmin();
    }
    match /blog/{postId} {
      allow read: if true;
      allow write: if isAdmin();
    }
    match /quem-somos/{docId} {
      allow read: if true;
      allow write: if isAdmin();
    }
    match /revendas/{revendaId} {
      allow read: if true;
      allow write: if isAdmin();
    }
    match /configuracoes/{configId} {
      allow read: if true;
      allow write: if isAdmin();
    }

    match /orcamentos/{orcamentoId} {
      // Bloqueia gravação pelo client; agora é via Server API.
      // E bloqueia leitura pública, apenas Admin.
      allow read, write: if isAdmin();
    }
    match /leads-revendas/{leadId} {
      allow read, write: if isAdmin();
    }
    match /curriculos/{curriculoId} {
      allow read, write: if isAdmin();
    }
  }
}
